<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @security.name %>
</p>

<p>
  <strong>Bookprice:</strong>
  <%= @security.bookprice %>
</p>

<p>
  <strong>Marketprice:</strong>
  <%= @security.marketprice %>
</p>

<p>
  <strong>Sigma:</strong>
  <%= @security.sigma %>
</p>

<%= link_to 'Edit', edit_security_path(@security) %> |
<%= link_to 'Back', securities_path %>
